* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  background: #e5bdf6;
}
.logo {
  width: 50%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: slategrey;
  padding: 1rem;
  flex-wrap: wrap;
}

.search-bar {
  border-radius: 3px;
  border: none;
  outline: none;
  margin-right: 10px;
  padding: 15px;
  font-size: 20px;
}
.bar-btn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.search-button {
  padding: 17px;
  border: 2px solid #fc8966;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.recipies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  background: black;
  color: white;
  border-radius: 5px;
  width: 30%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}
.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.custype {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.cal {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3%;
}

.ing {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3%;
}
@media screen and (max-width: 920px) {
  .recipe {
    width: 60%;
    padding: 5%;
  }
  .logo h1 {
    font-size: 20px;
  }
  .search-bar {
    width: 50%;
    height: 5%;
    font-size: 15px;
  }
  .search-button {
    padding: 10px;
  }
}
